<footer>
    <p>Created with <span class="heart">❤</span> by Success Ogechi © <span id="year"></span> </p>
</footer>
<script>
    const d = new Date();
    document.getElementById("year").innerHTML = d.getFullYear();
</script>
</body>
</html>