<%- include("partials/header.ejs") -%>

<div class="div-description">
  <h3><%= message %></h3>
  <h3>Click on the button below to enter a valid city name</h3>

  <a href="/" role="button" class="btn-back">Enter city name</a>
</div>

<%- include("partials/footer.ejs") -%>
