<%- include("partials/header.ejs") -%> 


<h3 class="intro"> Stay updated with the current weather conditions in various cities of the world.</h3>
<form action="/weather" method="POST">
    <input type="text" placeholder="City's Name" name="cityName" class="city-input" autocomplete="off">
    <button type="submit" class="btn-input">Submit</button>
</form>




<%- include("partials/footer.ejs") -%> 